/** Components **/
#templates { display: none !important; }
html {
    text-align: center;
    font-size: 100%;
    background: #6f7e95;
    font-family: 'Avenir';
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 6em;
}

li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin: 0.5em;
}

button {
    font-size: 1em;

    position: relative;
    top: 0;
    left: 0;
    clear: both;

    display: block;
    margin: 0 auto 0.25em auto;
    padding: 1em;

    background: #2ac56c;
    border: 0.25em solid #2ac56c;

    transition: background 0.1s ease-in,
                border 0.1s ease-in,
                box-shadow 0.1s ease-in,
                color 0.1s ease-in;

    -webkit-appearance: none;
}

button:not(:disabled) {
    cursor: pointer;
}

button:hover, button:active {
    background: transparent;
    border-color: #17aa56;
    color: #b0bee0;
}

button:active {
    top: 0.25em;
    margin: 0.25em auto 0 auto;
}

label {
    float: left;
    clear: left;
    width: 4em;
    text-align: left;
}

input {
    float: left;
}

video { background: yellow; }

/** Layout **/
body {
    min-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.layout-breve,
.layout-semibreve {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    margin: 3em auto;

    background: grey;
    overflow: auto;
}

.layout-semibreve {
    max-width: 30em;
}

.layout-major {
    width: 60%;
    border-right: 1px dashed black;
    padding-right: 5%;
}

.layout-minor {
    width: 30%;
}

.layout-major, .layout-minor {
    float: left;
    height: 100%;
}

.layout-major + .layout-minor,
.layout-minor + .layout-major {
    float: right;
}

.layout-minor + .layout-major {
    border-right: none;
    border-left: 1px dashed black;
    padding-right: 0;
    padding-left: 5%;
}

/** Interactions **/

body > section.layout-semibreve {
    top: -2.5em;
}

#wallet {
    overflow: visible;
    background: none;

    margin-bottom: 0;

    height: 8em;
    z-index: 10;
    background: transparent;
    color: transparent;

    transition: background 0.1s ease-in,
                box-shadow 0.1s ease-in,
                color 0.1s ease-in;
}

#wallet h2 {
    visibility: hidden;
    margin: 0.33em 0;
    transition: color 0.1 ease-in;
}

#wallet ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    visibility: hidden;
    background: transparent;

    transition: background 0.1s ease-in,
                box-shadow 0.1s ease-in,
                visibility 0.1s ease-in;
}

#wallet:not(.open) button:hover,
#wallet:not(.open) button:active {
    box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.4);
    background: #dedede;
    color: black;
}

#wallet.open button:hover,
#wallet.open button:active {
    box-shadow: inset 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.4);
    background: #6f7e95;
}

#wallet.open {
    background: #dedede;
    max-height: none;
    color: inherit;
}

#wallet.open h2 {
    visibility: visible;
}

#wallet.open, #wallet.open ul {
    box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.4);
}

#wallet.open ul {
    visibility: visible;
    background: #dedede;
}

.layout-breve {
    margin-top: 0;
    background: #4d5c7f;
    color: #b0bee0;

    position: absolute;
    top: 12em;
    left: 0;

    transition: opacity 0.5s ease,
                visibility 0.5s ease;
}
.layout-breve .layout-major {
    padding-bottom: 2em;
}

#in-call, html.in-call #pre-call {
    visibility: hidden;
    opacity: 0;
}

html.in-call #in-call {
    visibility: visible;
    opacity: 1;
}
